@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600&display=swap');
// @import './assets/css/reset-css.scss';
@import './assets/css/_variables.scss';
h1,
p {
  color: white;
  // margin: 0;
}

body {
  background-color: $primary-bg;
  font-family: 'Mukta', sans-serif;
}
img {
  width: 100%;
}

::selection {
  color: rgb(255, 255, 255);
  background: rgba(21, 114, 236, 0.822);
}

//
.secondary-bold-text {
  font-weight: 600;
  color: $secondary-bold-text-clr;
}

.line-through-text {
  text-decoration: line-through;
  opacity: 0.75;
}
