//colors

//text colors
$primary-text-clr: #fcfcfc;
$secondary-text-clr: #a3a3b3;
$secondary-bold-text-clr: #b1b2c7;

$secondary-text-clr-2: #fcfcfc;
$secondary-text-clr-body-2: #a3a3b3;

//

//hover
$header-hover-clr: #eaecfa;

//background colors
$primary-bg: rgb(0, 0, 0);

//CTA
$primary-cta-clr: #4700ee;
$primary-cta-hover-clr: #3c08b6;
$primary-cta-shadow-clr: #8769cfe0;
