@import './../../assets/css/_variables.scss';
@import './../../assets/css/reset-css.scss';

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  background-color: black;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background: linear-gradient(
    180deg,
    rgba(9, 9, 20, 0.808) 0%,
    rgba(3, 3, 15, 0.3)
  );
  // background: red;
  border-bottom: 1px solid rgba(215, 221, 255, 0.2);
  z-index: 999;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1120px;
    // padding: 500px 0 50px 0px;
    height: 80px;
  }
  .logo-container {
    display: flex;
  }
  .links-container {
    //Tab
    @media (max-width: 768px) {
      display: none;
    }

    ul {
      display: flex;
      margin: 0;

      a {
        text-decoration: none;
        margin-left: 30px;
        color: $secondary-text-clr;

        &:hover {
          color: $header-hover-clr;
          animation: FadeIn 0.7s;

          @keyframes FadeIn {
            0% {
              color: $secondary-text-clr;
            }
            100% {
              color: $header-hover-clr;
            }
          }
        }

        &::after {
          transition: all 5s ease-Out;
        }
      }
    }
  }
  .mobile-menu {
    display: none;
    //Tab
    @media (max-width: 768px) {
      display: block;
    }
  }
}
